.viva-flex{
	display: flex;
}
.viva-jc{
	justify-content: center;
}
.viva-jsb{
	justify-content: space-between;
}
.viva-gap-20{
	gap: 20px;
}
.viva-bg-bd-none{
	background: none;
	border: none;
}
.viva-font-11{
	font-size: 11px;
}
.vform{
	
}
.vform.vdanger::placeholder{
	color: rgb(220 53 69) !important;
	opacity:0.7;
}

.vbg-success{
	background: #00d85d !important;
}
.vtext-success{
	color: #00d85d !important;
}
.v-mb-40{
	margin-bottom: 40px;
}
.v-mb-10{
	margin-bottom: 10px;
}
.v-circle-button {
	width: 40px;
	height: 40px;
	background: rgba(255, 255, 255, 0.2);
	border: none;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease;
	backdrop-filter: blur(10px);
}

.v-circle-button:hover {
	background: rgba(255, 255, 255, 0.3);
	transform: translateX(-2px);
}

.v-circle-button i {
	color: #ffffff;
	font-size: 1.1rem;
}
.v-trans-0-5{
  transition: all 0.5s;
}

.v-click{
  cursor: pointer;
}

.v-flex-wrap{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.v-flex-column-g10{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.v-blinking {
  color: red;
  animation: blink 1s infinite
}

@keyframes blink {
  0% {
      opacity: 1; 
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1; 
  }
}


